/* ==========================================================================
   button / 
   ========================================================================== */

.button {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    display: inline-block;
    padding: 15px 20px;
    transform: scale(1);
    transition: all 0.4s $ease-out-back;

    &:hover {
        cursor: pointer;
        transform: scale(1.04);
        transition: all 0.4s $ease-out-back;

        box-shadow: 0 0 20px 0 rgba($color: #b68222, $alpha: 0.75);
    }
    @media screen and (min-width: $breakpoint-sm) {
        padding: 15px 20px;
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        padding: 18px 35px;
    }
}

.button--secondary {
    border: 3px solid var(--color-secondary);
    background-color: rgba($color: var(--color-black), $alpha: 0);
    color: var(--color-secondary);
}
