/* ==========================================================================
   flex--interests / 
   ========================================================================== */

.flex--interests {
    display: flex;
    flex-direction: column;
    .card--interests:nth-child(4) {
        margin: 0;
    }
    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row;
        .card--interests {
            margin: 0 25px;
            width: 23%;
        }
        .card--interests:nth-child(4) {
            margin: 0 25px;
        }
    }
}
