/* ==========================================================================
   footer / components
   ========================================================================== */

.footer {
    background-color: var(--color-black);
    padding: var(--spacing-sm);
    .wrapper {
        p {
            width: 100%;
            text-align: center;
            font-size: 0.938rem;
            margin: 0;
        }
    }
}
