/* ==========================================================================
   section / components
   ========================================================================== */
.section {
    padding: 50px 0;
}
.section--competences {
    .wrapper {
        padding: 0 20px;
    }
    h2 {
        text-align: center;
    }
}

.section--interets {
    padding: 50px 20px;
}
.section--appel {
    padding: 75px 0;
    h2 {
        margin: 0;
    }
}
