/* ==========================================================================
   section / components
   ========================================================================== */
.section {
    padding: 50px 0;
}
.section--competences {
    .wrapper {
        padding: 0 20px;
    }
    h2 {
        text-align: center;
    }
}

.section--interets {
    padding: 50px 20px;
}
.section--appel {
    padding: 75px 0;
    h2 {
        margin: 0;
    }
}
.section--contact {
    max-width: 1750px;
    margin: 0 auto;
    h4,
    h5 {
        text-align: left;
    }
    h5 {
        margin-bottom: 20px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0 10px;
        }
    }
}
