/* ==========================================================================
   section / components
   ========================================================================== */
.section {
    padding: 50px 0;
}
.section--competences {
    .wrapper {
        padding: 0 20px;
    }
    h2 {
        text-align: center;
    }
}

.section--interets {
    padding: 50px 20px;
}
.section--appel {
    padding: 75px 0;
    h2 {
        margin: 0;
    }
}
.section--contact {
    max-width: 1750px;
    margin: 0 auto;
    h4,
    h5 {
        text-align: left;
    }
    h5 {
        margin-bottom: 20px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0 10px;
            svg {
                transform: rotate(0deg);
                transition: all 0.4s $ease-in-out-back;
                &:hover {
                    transform: rotate(360deg);
                    fill: var(--color-secondary);
                    transition: all 0.4s $ease-in-out-back;
                }
            }
        }
    }
}

.section--documentation,
.section--varaibles {
    p {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    @media screen and (min-width: $breakpoint-sm) {
        p {
            width: 50%;
            margin: 0 auto;
        }
    }
}

.section--mini {
    padding: 25px 15px;
    a {
        color: var(--color-secondary);
    }
}
.section--maquettes {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        width: 80%;
        text-align: center;
        margin: 25px auto;
    }
    .video--h3 {
        width: 98%;
    }
    @media screen and (min-width: $breakpoint-sm) {
        p {
            width: 50%;
        }
    }
}
.section--video-presentation {
    h3 {
        a {
            &:hover {
                color: var(--color-secondary);
                text-decoration: none;
                transition: all 0.4s $ease-in-out-back;
            }
        }
        transform: scale(1);
        transition: all 0.4s $ease-in-out-back;
        &:hover {
            transform: scale(1.1);
            transition: all 0.4s $ease-in-out-back;
        }
    }
}
