/*
   text special
   ========================================================================== */
.txt--special {
    font-family: var(--font-tertiary);
    color: var(--color-secondary);
    font-weight: 700;
}
