/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
body {
    background: /*var(--color-bg-primary)*/ rgb(0, 2, 15) no-repeat;
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-content-phone);
    line-height: 1.6;
    overflow-x: hidden;
    cursor: none;

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-content-laptop);
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-content);
    }
}
