/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    line-height: 1;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: var(--font-size-h1-phone);
    color: var(--color-primary);
    font-weight: 600;

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-h1-laptop);
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-h1);
    }
}

h2 {
    font-size: var(--font-size-h2-phone);
    font-family: var(--font-secondary);
    margin-bottom: 25px;
    font-weight: 600;

    @media screen and (min-width: $breakpoint-sm) {
        margin-bottom: 50px;
        font-size: var(--font-size-h2-laptop);
    }
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-h2);
    }
}

h3 {
    font-size: var(--font-size-h3-phone);

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-h3-laptop);
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-h3);
    }
}

h4 {
    font-size: var(--font-size-h4-phone);

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-h4-laptop);
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-h4);
    }
}

h5 {
    font-family: var(--font-primary);
    font-size: var(--font-size-content-phone);

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-content-laptop);
    }
    font-weight: 600;
    @media screen and (min-width: $breakpoint-lg) {
        font-size: var(--font-size-content);
    }
}

h6 {
    font-size: var(--font-size-h6);
}
