/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Baloo 2', cursive;
    --font-secondary: 'Rajdhani', sans-serif;
    --font-tertiary: 'Caveat', cursive;
    --font-food: 'font__food';
    --font-recettes: 'Love Ya Like A Sister', cursive;
    --font-courtier: 'Montserrat', sans-serif;
    --font-planet: 'font__planet';
    --font-video: 'font__video';

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 1.5rem;
}
